@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');

* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
}

body {
    background: #00131e;
    color: #D0AD6C;
    font-family: serif;
    height: 100vh;
    text-align:center;
}

nav, header, main, footer{
    font-family: 'Montserrat', sans-serif;
    background: #00131e;
    padding: 8px;

}
main{
    padding: 0;
}

a {
    color: #834818;
    text-decoration: none;
}

p{
    line-height: 1.4em;
}

ul {
    list-style: none;
    padding: 0;
}

/* Product Page */



/* Navigation */

nav {
    position: fixed;
    background: #432A28 !important;
    height: 100vh;
    left: 0;
    top: 0;
    width: 80%;
    visibility: hidden;
    transform: translateX(-50%);
    opacity: 0;
    transition: all .3s;
    text-align: center;
}

.logo img{
 width: 60px;
 height: 60px;
}

.inner-wrapper {
    display: flex;
    padding: .3em .7em 0 1em;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
}

.inner-wrapper h3{
    font-family: 'Pattaya', sans-serif;
    color: #D0AD6C;
    letter-spacing: 1px;
}

#exit-btn{
color: #D0AD6C;
 background: none;
 border: none;
 font-size: 21px;
 font-weight: 700;

}

nav p {
    padding: 1em;
    margin: 0;
    font-size: 1em;
    font-weight: 500;
    text-align: center;
    color: #D0AD6C;
}

nav img {
    cursor: pointer;
    width: 3em;
    margin: 0;
    float: right;
}

nav ul{
    padding:0;
}

nav ul li a {
    display: block;
    color: #D0AD6C;
    font-size: 1.2em;
    font-weight: 500;
    padding: .8em 1em;
    
}

.open-nav {
    color: #D0AD6C;
    visibility: unset;
    opacity: 1;
    transform: translateX(0);
    padding: 0;
}

.nav-info{
    margin-top: 300px;
}

.ask{
    color: #c8cac5;
    font-weight: 700;
    text-transform: uppercase;
}
/* Header */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    padding-left: 8px; 
    border-bottom: 1px solid #D0AD6C;
}

.text-logo{
    font-size: 28px;
    font-family: 'Pattaya', sans-serif;
    margin: 0;
}

header svg {
    width: 40px;
    cursor: pointer;
}

.logo{
    display: flex;
    align-content: center;
}

.logo img{
    width: 100px;
    height:100px;
}

/* Home Main Section */

@import url('/mebel-lux/pages/home.css');

/* Products Main Section */

@import url('/mebel-lux/pages/product.css');

/*Footer */

footer{
    display: flex;
    flex-direction: column;
    background:#00131e;
    margin-top: auto;
    border-top: 1px solid #D0AD6C;
}

footer p{
    font-weight: 500;
    color: #D0AD6C;
    font-size: 12px;
    margin: 0;
    padding-top: 5px;
}

footer p span, .cta-btn{
    color: #c8cac5;
}

/* Small Phones */

@media( min-width: 320px){
    .col p{
        font-size: 12px;
        padding: 12px;
    }

    .info{
        flex-direction: column;
        margin: 0;
    }

    .info a{
        font-size: 18px;
        margin: 5px;
        min-width: 235px;
    }
}

/* Medium Phones */

@media (min-width: 375px) {
    header{
        padding: 0 10px;
        font-size: 50px;
    }
    
    .info a{
        font-size: 20px;
        min-width: 235px;
    }
}

/* Large Phones */

@media (min-width: 425px) {
    nav {
        width: 60%;
    }

    .text-logo{
        font-size: 50px;
    }
}

/* Tablets */

@media (min-width: 768px) {
    #home-main{
        height: 135vh;
    }
}

/* Laptops */

@media (min-width: 1024px) {
    #home-main{
        height: 150vh;
    }
}

/* Desktop */

@media (min-width: 1440px) {

    /* Home page */

    #home-main{
        margin: 2px auto 0 auto;
        width: 80%;
        height: 170vh;
    }

    .bed{
        width: 80%;
    }

    .col h1{
        font-size: 48px;
        margin-bottom: 0;
    }

    .home-info-p{
        font-size: 18px;
    }

    .info{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .info a{
        font-size: 28px;
        margin: 0 30px 0 30px;
    }

    .workshop-info-p{
        padding-top: 40px;
    }

    .my-info-p{
        padding: 10px 0 30px 0;
    }

    #nav{
        width: 20%;
        height: 180vh;
    }

    /* Home page end */
 
    /* Product page */

    #for-us-main{
        display: flex;
        justify-content: space-around;
        margin: 0 auto 0 auto;
        width: 80%;
        height: 80vh;
    }

    .panel, .columns{
        margin: auto 30px;
    }

    .workshop-img{
        width: 300px;
    }

    .for-us-info-p{
        font-size: 21px;
    }

    /* Product page end */
    


}

 /*
- White Space
- Color 
- Contrast 
- Scale
- Alignment
- Typography
- Visual Hierarchy
*/