@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');

* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
}

body {
    background: #f0ebd8;
    color: #834818;
    font-family: serif;
    height: 100vh;
    text-align:center;
}

nav, header, main, footer{
    font-family: 'Montserrat', sans-serif;
    background: #f0ebd8;
    padding: 8px;

}

a {
    color: #834818;
    text-decoration: none;
}

p{
    line-height: 1.4em;
}

ul {
    list-style: none;
    padding: 0;
}

/* Navigation */

nav {
    position: fixed;
    background: #D2AE6D !important;
    height: 100vh;
    left: 0;
    top: 0;
    width: 80%;
    visibility: hidden;
    transform: translateX(-50%);
    opacity: 0;
    transition: all .3s;
    text-align: center;
}

.logo img{
 width: 60px;
 height: 60px;
}

.inner-wrapper {
    display: flex;
    padding: .3em .7em 0 1em;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
}

.inner-wrapper h3{
    font-family: 'Pattaya', sans-serif;
    color: white;
    letter-spacing: 1px;
}

#exit-btn{
color: white;
 background: none;
 border: none;
 font-size: 21px;
 font-weight: 700;

}

nav p {
    padding: 1em;
    margin: 0;
    font-size: 1em;
    font-weight: 500;
    text-align: center;
    color: white;
}

nav img {
    cursor: pointer;
    width: 3em;
    margin: 0;
    float: right;
}

nav ul{
    padding:0;
}

nav ul li a {
    display: block;
    color: white;
    font-size: 1.2em;
    font-weight: 500;
    padding: .8em 1em;
    
}

.selected {
    background: #834818;
}

.open-nav {
    color: #dfb891;
    visibility: unset;
    opacity: 1;
    transform: translateX(0);
    padding: 0;
}

.ask{
    color:#834818;
    font-weight: 700;
    text-transform: uppercase;
}
/* Header */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    padding-left: 8px; 
}

header h2{
    font-size: 28px;
    font-family: 'Pattaya', sans-serif;
    margin: 0;
}

header svg {
    width: 40px;
    cursor: pointer;
}

/* Main Section */

main{
    padding-bottom: 40px;
}

h1 {
    color: #834818;
    margin-top: 1em;
}

.panel {
    margin-bottom: 15px;
}

.panel img{
    width: 95%;
    border-radius: 8px;
}

h3 {
    color: #834818;
    margin: 0;
    font-size: 2em;
}

.col p{
 font-weight: 600;
}

.info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.info a{
    color: #83532c;
    background-color: #D2AE6D;
    border-radius: 5px;
    font-size: 21px;
    font-weight: 700;
    padding: 3px 10px;
    min-width: 120px;
}

.info-2{
    margin-top: 12px;
}

.info-2 a{
    color: #83532c;
}

.cta-btn {
    background: #D2AE6D;
    color: white;
    font-weight: bold;
    font-size: 21px;
    border-radius: 5px;
    padding: 3px 10px;
}

/*Footer */

footer{
    display: flex;
    flex-direction: column;
    background: #D2AE6D;
    padding-top: 20px;
    margin-top: auto;
}

footer p{
    font-weight: 500;
    color: #834818;
    font-size: 12px;
    margin: 0;
}

footer p span{
    display: flex;
    justify-content: center;
}

/* Large Phones */

@media( max-width: 370px){
    .col p{
        font-size: 14px;
        padding: 0 20px;
    }

    .info{
        flex-direction: column;
    }

    .info a{
        font-size: 21px;
        min-width: 240px;
    }

    .info a:last-child{
        margin-top:  15px;
    }

    .info-2 a{
        min-width: 240px;
    }
}

@media (min-width: 424px) {
    header{
        padding: 0 10px;
    }
}

@media (min-width: 550px) {
    nav {
        width: 40%;
    }
}

@media (min-width: 720px) {
    body {
        padding: 1.5em;
    }
    .columns {
        display: flex;
    }
    
    nav {
        width: 30%;
    }
    
}

 /*
- White Space
- Color 
- Contrast 
- Scale
- Alignment
- Typography
- Visual Hierarchy
*/